{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "project": ["./tsconfig.json"]
  },
  "plugins": [
    "@typescript-eslint",
    "unicorn",
    "promise",
    "prettier",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
    "plugin:promise/recommended",
    "plugin:jest/style"
  ],
  "rules": {
    "import/order": "error",
    "node/no-unsupported-features/es-syntax": "off",
    "node/no-unpublished-import": "off",
    "unicorn/numeric-separators-style": "off",
    "unicorn/prevent-abbreviations": ["error", {
      "checkFilenames": false
    }],
    "unicorn/prefer-node-protocol": "off"
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "unicorn/prefer-module": "off"
      }
    }
  ],
  "settings": {
    "node": {
      "allowModules": [
        "jest-playwright-preset",
        "jest-runner",
        "wait-on"
      ],
      "tryExtensions": [".ts", ".json", ".node"]
    }
  }
}
