version: '3.7'

services:
  oidc-server-mock:
    container_name: oidc-server-mock
    image: oidc-server-mock
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: https://+:443;http://+:80
      ASPNETCORE_Kestrel__Certificates__Default__Password: oidc-server-mock-pwd
      ASPNETCORE_Kestrel__Certificates__Default__Path: /https/aspnetapp.pfx
      SERVER_OPTIONS_PATH: /config/server-options.json
      ACCOUNT_OPTIONS_PATH: /config/account-options.json
      API_SCOPES_PATH: /config/api-scopes.json
      API_RESOURCES_PATH: /config/api-resources.json
      USERS_CONFIGURATION_PATH: /config/user-configuration.json
      CLIENTS_CONFIGURATION_PATH: /config/clients-configuration.json
      IDENTITY_RESOURCES_PATH: /config/identity-resources.json
      ASPNET_SERVICES_OPTIONS_INLINE: |
        {
          "BasePath": "/some-base-path"
        }
    volumes:
      - ./config:/config:ro
      - ./https:/https:ro
    ports:
      - 8080:80
      - 8443:443
